.wrapper {
    text-align: left;
    font-weight: 400;
}


.estimate > div {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.estimate > div:first-child {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}

.estimate > div:last-child {
    margin-bottom: 0;
}

/*offerPrice*/
.offerPrice {
    margin-top: 20px;
    border: 1px solid #76BC21;
    border-radius: 5px;
    padding: 10px 0 10px 20px;
}

.offerPrice > span:first-child {
    color: #F9326D;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
}

.offerPrice > div {
    text-decoration: line-through;
    text-decoration-color: #F9326D;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.offerPrice > span:last-child {
    font-size: 16px;
    line-height: 25px;
}

.note {
    color: #F9326D;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
}

.note > span {
    text-transform: uppercase;
}

/*photo*/
.photo {
   cursor: pointer;
    margin: 10px 0 10px;
}
