.likeBtn {
    background: #76BC21;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 45px;
    margin-left: 400px;
    border-radius: 5px;
    cursor: pointer;
}

.likeBtn > span {
    margin-left: 10px;
}

.dislikeBtn {
    background: #003595;
}
