.wrapper {
  margin: 25px 0 20px 0;
}

.wrapper > h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

.wrapper > p {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.wrapper > img {
    margin: 20px 0;
}

a {
    color: #F9326D;
    font-weight: 700;
}
